mixin menu(data)
  nav.menu
    ul.menu-list
      li
        a(href='#') О центре
      li
        a(href='#') Курсы
        ul.submenu-list
          li
            a(href='#') Autocad
          li
            a(href='#') Inventor
          li
            a(href='#') Solidworks
          li
            a(href='#') Компас
      li
        a(href='#') Преподаватель
      li
        a(href='#') Корпоративное обучение
      li
        a(href='#') Учебники
      li
        a(href='#') Контакты