doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/coursetop/coursetop
  include ../components/prices/prices
  include ../components/portfolio/portfolio
  include ../components/programme/programme
  include ../components/footer/footer
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    +header()

    //- +coursetop()

    //- +prices

    //- +portfolio()

    //- +programme()

    section.teacher.allteachers
      .teacher-content.content
        +title('Основатель и преподаватель')
        .teachers-names
          ul
            li.active Бочков Андрей Леонидович
            li Бочков Сергей Андреевич
        .allteachers-wrapper
          .allteachers-items
            .teacher-information.allteachers-item.active
              .teacher-text
                p Здравствуйте! Меня зовут Бочков Андрей Леонидович. Я преподаю начертательную геометрию, инженерную и компьютерную графику в СпбГПУ, ранее работал в СПбГИТМО, СПбГЭТУ, СПбГУСЭ, СПбГУГА.
                p Учу работать в CAD-системах 20 лет, 8 из них — готовил сотрудников средних и высших учебных заведений в Федерации интернет-образования. Сертифицированный преподаватель «Компас-График», «Компас-3D» и пользователь AutoCAD и Inventor.
                p Автор свыше 50 научных и методических работ. На сайте представлены авторские учебно-методические материалы по начертательной геометрии, инженерной и компьютерной графике.
              .teacher-button
                +button('Подробнее')
            .teacher-information.allteachers-item
              .teacher-text
                p Здравствуйте! Меня зовут Бочков Сергей Андреевич. Я преподаю начертательную геометрию, инженерную и компьютерную графику в СпбГПУ, ранее работал в СПбГИТМО, СПбГЭТУ, СПбГУСЭ, СПбГУГА.
                p Учу работать в CAD-системах 20 лет, 8 из них — готовил сотрудников средних и высших учебных заведений в Федерации интернет-образования. Сертифицированный преподаватель «Компас-График», «Компас-3D» и пользователь AutoCAD и Inventor.
                p Автор свыше 50 научных и методических работ. На сайте представлены авторские учебно-методические материалы по начертательной геометрии, инженерной и компьютерной графике.
              .teacher-button
                +button('Подробнее')
          .allteachers-images
            img(src='static/img/assets/teacher/teache.png').active
            img(src='static/img/assets/teacher/teache.png')
    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')