doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/coursetop/coursetop
  include ../components/prices/prices
  include ../components/portfolio/portfolio
  include ../components/programme/programme
  include ../components/allteachers/allteachers
  include ../components/process/process
  include ../components/sertificat/sertificat
  include ../components/reviews/reviews
  include ../components/why-me/why-me
  include ../components/apply/apply
  include ../components/links/links
  include ../components/questions/questions
  include ../components/footer/footer
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    +header()

    +coursetop()

    +prices

    +portfolio()

    +programme()

    +allteachers()

    +process()

    +sertificat()

    +reviews()

    +why-me()
    
    +apply()

    +links()

    +questions()

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')