// Common styles of the project

html, body
  height 100%
svg path
  fill inherit
html
  font-size: 16px
body
  min-width: 320px
  overflow-x hidden
  font-family $Roboto
  color: #fff
  background: $bgSection
.content
  width 85.46875%
  margin 0 auto
  max-width: 1094px
a
  color : #fff
p
  font-family: $Roboto
  color: $textColor
  set-font-size(15px)
  line-height: 17px
h2
  font-size: 45px
  font-family: $PTBold
h3
  set-font-size(40px)
  font-family: $PTBold

h4
  set-font-size(25px)
  color: $titleColor
  font-family $PTBold
h5
  set-font-size(20px)
  font-family $PTBold
  color: $titleColor

section
  padding-top: 90px

button
  border none