.links
  background #2c2f38
  background -moz-linear-gradient(left, #2c2f38 0%, #34404e 70%, #34404e 100%)
  background -webkit-linear-gradient(left, #2c2f38 0%,#34404e 70%,#34404e 100%)
  background linear-gradient(to right, #2c2f38 0%,#34404e 70%,#34404e 100%)
  padding-bottom 80px
  .section-title
    padding-bottom 40px
    h2
      color: #ffffff
  &-item 
    display flex
    align-items: center
    margin-bottom 40px
    &__left
      padding-right 30px
    &__right
      width 65%
    p
      color: #fff