include ../title/title
include ../button/button
mixin teacher(data)
  section.teacher
    .teacher-content.content
      +title('Основатель и преподаватель')
      .teacher-information
        .teacher-name Бочков Андрей Леонидович
        .teacher-text
          p Здравствуйте! Меня зовут Бочков Андрей Леонидович. Я преподаю начертательную геометрию, инженерную и компьютерную графику в СпбГПУ, ранее работал в СПбГИТМО, СПбГЭТУ, СПбГУСЭ, СПбГУГА.
          p Учу работать в CAD-системах 20 лет, 8 из них — готовил сотрудников средних и высших учебных заведений в Федерации интернет-образования. Сертифицированный преподаватель «Компас-График», «Компас-3D» и пользователь AutoCAD и Inventor.
          p Автор свыше 50 научных и методических работ. На сайте представлены авторские учебно-методические материалы по начертательной геометрии, инженерной и компьютерной графике.
      .teacher-button
        +button('Подробнее')