section.teacher
  background #2c2f38
  background -moz-linear-gradient(left, #2c2f38 0%, #34404e 70%, #34404e 100%)
  background -webkit-linear-gradient(left, #2c2f38 0%,#34404e 70%,#34404e 100%)
  background linear-gradient(to right, #2c2f38 0%,#34404e 70%,#34404e 100%)
  .teacher-content
    background: url('../img/assets/teacher/teache.png') no-repeat right bottom
    padding-bottom: 60px
    width: 90.15625%
    max-width: 1154px

  .section-title
    padding-bottom: 35px 
    h2
      color: #f2f5f7
  .teacher-name
      set-font-size(25px)
      font-family $PTBold
  .teacher-information
    width 65.81352834%
    color: #f2f5f7
    margin-left 2.7%
    padding-bottom 30px
    p
      color: #f2f5f7
      line-height 17px
      letter-spacing: 0.3px
  .teacher-button
    width 65.81352834%
    text-align: right
  