.logo
  a
    display flex
    align-items: center
  &-icon
    margin-right 15px
  &-text
    line-height 14px
    text-align center
  &-name
    font-family $PTBold
    set-font-size(20px)
  &-subname
    font-family $PTRegular
    set-font-size(12px)
