mixin logo(data)
  .logo
    a(href='#')
      .logo-icon
        img(src='static/img/assets/logo/logo.png')
      .logo-text
        .logo-name CADInstructor
        .logo-subname обучающий центр