.clients
  &-items
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
  &-item
    width: 23.26007326%
    height 142px
    border-radius: 10px
    background: #fff
    display flex
    justify-content: center
    align-items: center
    margin-bottom: 30px
    margin-right:  2.3%
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1)
    transition: all 0.3s ease
    cursor pointer
    &:hover
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2)
    &:nth-child(4n)
      margin-right: 0
    img
      width auto
      max-width 70%
      margin 0 auto