include ../title/title
mixin clients(data)
  section.clients
    .clients-content.content
      +title('Корпоративные клиенты')
      .clients-items
        .clients-item
          img(src='static/img/assets/clients/hyundai.png')
        .clients-item
          img(src='static/img/assets/clients/avrota.png')
        .clients-item
          img(src='static/img/assets/clients/avangard.png')
        .clients-item
          img(src='static/img/assets/clients/mekgbor.png')
        .clients-item
          img(src='static/img/assets/clients/ava.png')
        .clients-item
          img(src='static/img/assets/clients/knorr.png')