section.teacher.allteachers
  .allteachers-wrapper
    display block
    position relative
    &::after
      content ''
      clear both
      display: block
  .teacher-content
    background: none
    padding-bottom 0
  .teachers-names
    margin-bottom 70px
    ul
      margin: 0
      display flex
      justify-content: center
      align-items: center
    li
      color $accentColor
      set-font-size(25px)
      transition: all 0.3s ease
      cursor pointer 
      font-family $PTBold
      margin-right 2%
      &:last-child
        margin-right 0
      &:hover,
      &.active
        color: #ffffff
  .teacher-information p
    line-height 20px
  .allteachers-items
    position relative
    width 65.81352834%
    padding-bottom 30px
    float left
  .allteachers-item
    width 100%
    height 100%
    opacity 0
    display: none
    transition: all 0.25s ease 
    &.active
      opacity 1
      display: block
  .teacher-button
    width 100%
  .allteachers-images
    right 0
    position absolute
    bottom: 0
    width: 34.18647166%
    img
      width 80%
      margin 0 auto
      object-fit: contain
      opacity: 0
      transition all 0.25s ease
      display none
      &.active
        display: block
        opacity 1