mixin slideshow(data)
  section.slideshow
    //- SlideShow List
    .slideshow-list.owl-carousel
      //- SlideShow Item
      .slideshow-item
        .slideshow-item__image
        .slideshow-item__text
          h3 Эффективное обучение cad-системам в Санкт-Петербурге и дистанционно
      //- SlideShow Item
      .slideshow-item
        .slideshow-item__image
        .slideshow-item__text
          h3 Эффективное обучение cad-системам в Санкт-Петербурге и дистанционно
          