include ../title/title
mixin sertificat(data)
  section.portfolio.sertificat
    .portfolio-content.content
      +title('Результат обучения')
      ul.portfolio-advantages
        li В результате прохождения курса вы научитесь видеть возможности системы AutoCAD и выбирать наиболее рациональный способ решения конкретной задачи. 
        li Узнаете как строить двухмерные изображения используя все основные возможности программы.
        li Научитесь использовать разные способы и режимы построения графических примитивов, привязки и вспомогательные построения для быстрого и точного черчения.
        li Cоздадите и оформите различные чертежи, пользовательскую библиотеку типовых фрагментов.
        li  В конце обучения все слушатели получат сертификат:
      .sertificat-image
        img(src='static/img/assets/sertificat/sertificates.jpg')