@media only screen and (max-width : 1200px)
  .logo-name
    set-font-size(18px)
  .logo-subname
    set-font-size(10px)
  nav.menu a
    set-font-size(12px)
  .slideshow-item__text
    width 90%
    left 5%
    top: 25%
    margin-top: 0
  h3
    set-font-size(35px)
  .about-information__text p
    margin-bottom 10px
  .button a
    width 250px
  h5
    set-font-size(18px)
  .courses-type__price
    set-font-size(18px)
  h4
    set-font-size(22px)
  section.teacher 
    .teacher-information,
    .teacher-button
      width 60%
  section
    padding-top: 70px
  .reviews-item__photo
    height 150px
    width 150px
    img
      height 150px
  section.contacts 
    .contacts-items
      width 320px
    .contact-item
      height 70px
      &__content
        height 70px
    .contact-item__icon
      margin-right: 15px
      svg
        width 35px
        height 35px
    .contact-item__text ,
    .contact-item__text a
      set-font-size(17px)

  // COURSE PAGE
  .prices-name h4
    set-font-size(20px)
    left -5px
  section.teacher.allteachers 
    .teachers-names
      margin-bottom 40px
  .process .process-tabs 
    & > li
      set-font-size(20px)
      padding: 20px 15px 25px 15px
  .sertificat-image
    img
      width 100%

  form
    width 80%

@media only screen and (max-width : 992px)
  .about-video
    display none
  .logo-icon
    margin-right 5px
  .logo-text
    line-height 10px
  .logo-name
    set-font-size(14px)
  .logo-subname
    set-font-size(8px)
  .header,
  .header-content
    padding: 10px 0
    height auto
  .header-content
    flex-wrap: wrap
    justify-content: center
  nav.menu
    width 100%
    margin: 0
  .city
    text-align: center
    left 12px
  nav.menu ul
    margin-top 15px
  .header-contacts
    margin-top: 0
  p
    set-font-size(13px)
  .about-information
    height auto
  .about-information__content
    position relative
    .button
      position absolute
      left 0
      bottom: 60px
      width 48.6288848%
      a
        width 100%
  h5
    set-font-size(15px)
  .courses-type__price
    set-font-size(15px)
  .courses-item__image
    img
      max-width 115px
  .courses-item__buttons
    .button a
      width 180px
  section.teacher 
    .teacher-information p
      letter-spacing -0.3px
    .teacher-content
      padding-bottom 20px
      background-size: 40%
      background-position 103% bottom
    .teacher-information, 
    .teacher-button
      width 65%
  .reviews-item__left
    width: 30.034735%;
    margin-left: 2.83363803%;
  .reviews-item__photo
    width 190px
    height 190px
    img
      height 190px
  .reviews-item
    padding: 20px 0
  .reviews-item__name
    set-font-size(20px)
  .reviews-item__link
    margin-bottom 15px
  .reviews-item__course
    set-font-size(15px)
  .reviews-item p
    set-font-size(12px)
    line-height 1.3
    letter-spacing: 0
  section.contacts
    height 600px
  footer.footer 
    .footer-item a
      set-font-size(13px)
    .footer-item li
      margin-bottom 0
    .footer-item.footer-item__contacts li
      margin-bottom 5px
    .footer-item__name
      set-font-size(16px)
      margin-bottom: 20px
    .footer-item.footer-item__social svg
      width 30px
    .footer-bottom__left,
    .footer-bottom__right
      width 50%

  nav.menu ul.submenu-list
    top auto
    bottom: -50px
    line-height: 50px
    margin-top: 0


  // Course Page
  ul.breadcrumbs li
    white-space: nowrap
  .prices-name 
    font-size:1rem
    h4
      font-size: 1rem
      &::after
        right -22px
        set-font-size(12px)
        width 16px
        height 16px
  .prices-item__content
    padding-top 20px
  section.prices
    padding-bottom 50px

  .process .process-tabs >li
    set-font-size(17px)
    padding: 20px 5px 25px 5px
  .process-item
    padding-top 30px
    padding-bottom 3px

  .portfolio-advantages li
    line-height 1.5
    margin-bottom: 15px
  section.portfolio.sertificat .portfolio-advantages
    margin-bottom 40px

  section.teacher.allteachers .allteachers-images img
    height auto
    width 100%



@media only screen and (max-width : 768px)
  .header-content
    justify-content: space-between
  .header-contacts
    display: none
  nav.menu
    display block
    top: 100%;
    background: #0e1012;
    left: 0;
    width: 100%;
    position absolute
    padding-bottom: 20px
    z-index 999
    display none
    a
      font-size: 1rem
    .menu-list
      width: 85.46875%;
      margin: 0 auto;
      flex-direction: column;
      align-items: flex-start;
      .submenu-list
        display: block;
        background: none;
        color: #fff;
        position: static;
        line-height: unset;
        padding-left: 10px;
        height: auto;
        flex-direction: column
        align-items: flex-start
        a
          font-size: 0.75rem
      & > li
        margin-bottom 5px
      
  .burger-menu
    display block
  .courses-item__left
    display none
  .courses-item__right
    width 100%
    padding-right: 6.6666667%
    padding-left: 6.666667%
  .courses-item__buttons .button a
    width 220px
  .clients-item
    width: 31.91489362%
    margin-right 2%
    &:nth-child(4n)
      margin-right 2%
    &:nth-child(3n)
      margin-right 0
  .reviews-item__photo
    width 150px
    height 150px
    img
      height 150px
  h2
    set-font-size(36px)
  

  footer.footer 
    padding-top 20px
    .footer-items
      flex-wrap: wrap
    .footer-item
      width 33.333333%
    .footer-item.footer-item__social
      margin-top 20px
    .footer-top
      padding-bottom 20px
    .footer-bottom
      padding: 20px 0
    .footer-bottom__left p
      line-height: 1.2
    .footer-bottom__left
      width 45%

  ul.breadcrumbs 
    li 
      padding-right 15px
      &::after
        right 3.5px
        margin-right: 0
        margin-top -9px
      a
        set-font-size(16px)
  .coursetop
    padding-top 20px
    padding-bottom 60px
    &-content
      width: 85.46875%
    ul.coursetop-paragraph__list li
      set-font-size(13px)

  .prices-item
    width 48%
    margin-bottom 30px
    &:nth-child(2n+1)
      margin-right 4%
    &:nth-child(2n)
      margin-right 0
  .programme-title__text
    h4
      set-font-size(20px)
      line-height 1
  .programme-title__video
    display none
  .programme-item__title
    justify-content: space-between

  .portfolio-advantages
    margin-left 0
  
  section.teacher.allteachers 
    .teachers-names li
      set-font-size(20px)
    .allteachers-items
      width: 60%
    .allteachers-images
      width 40%
    .teacher-button
      text-align: left

  .process .process-tabs >li
    set-font-size(14px)
  .process-item__right p
    set-font-size(12px)
    line-height 1.5
  .apply-content.content
    width 100%
  form 
    .form-price
      width: 60%
  .links-item 
    margin-bottom: 20px
    p
      line-height 1.3
      set-font-size(12px)
  


@media only screen and (max-width : 640px)
  html
    font-size: 14px
  p
    set-font-size(24px)

  .content
    width 90.625%
  .about-advantage
    width 100%
  .about-information__content
    flex-direction: column-reverse
    .button
      width 100%
  .about-advantage__icon
    height 130px
    svg
      width 170px
      height 130px
  .about-advantage__title h5
    set-font-size(35px)
  .about-information__left,
  .about-information__right
    width 100%
  .section-title h2
    line-height 1
    set-font-size(60px)
  section
    padding-top: 70px
  .section-title
    padding-bottom: 60px
  .about-information
    padding-top: 20px
    padding-bottom: 0
  .about-information__text p
    line-height 1.2
  .about-information__content .button
    bottom 20px
  .about-information__left
    padding-bottom 90px
  .about-information__content.content
    width 100%
  .about-information__left,
  .about-information__right
    width 90.625%
    margin 0 auto


  
  .courses-item__types
    flex-direction: column
  .courses-type
    flex-direction: row
    height auto
  .courses-item
    padding: 0
  .courses-item__right
    padding-right 0 
    padding-left 0
    margin-bottom 7px
  .courses-item__title,
  .courses-item__text,
  .courses-item__types
    width 90.625%
    margin 0 auto
  .courses-item__text p
    line-height 1.2
    letter-spacing: 0
  .courses-type__price.rmv
    margin-left 30%
  .courses-item__types
    padding-bottom 15px
  h4
    line-height 1
  .courses-item__buttons
    flex-direction: column

  section.teacher 
    .teacher-content
      padding-bottom 0
      background none
    .teacher-information
      width 100%
    .teacher-button
      width 100%
      height 600px
      background url("../img/assets/teacher/teache.png") no-repeat center bottom
      background-size cover
      .button
        display: none
    .teacher-name
      set-font-size(40px)
    .teacher-information p
      line-height 1.2
      letter-spacing: 0
  .clients-item
    width 100%
    margin-right: 0
    height 300px
  .reviews-item
    border-radius 0
    flex-direction: column
  .reviews-item__left,
  .reviews-item__right
    width 90.625%
    margin 0 auto
  .reviews-content.content
    width 100%
  .reviews-item__name
    set-font-size(40px)
  .reviews-item p
    set-font-size(22px)
    line-height 1.2
    letter-spacing: 0.1px
  .reviews-item__course
    set-font-size(35px)
  footer.footer 
    .footer-item__name
      margin-bottom 10px
      display inline-block
    .footer-item
      width 100%
      .footer-item__links
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        margin-bottom 10px
      &.active .footer-item__links
        max-height: 100%
        transition max-height 0.5s ease-in;
    .footer-item.footer-item__social
      margin-top: 0
      margin-bottom 0
      .footer-item__links
        max-height: 100%
        transition none
    .footer-bottom__left, 
    .footer-bottom__right
      width 100%
    .footer-bottom__right
      flex-direction: column
      align-items: flex-start
      margin-bottom: 20px
      img:first-child
        margin-bottom 10px
    .footer-content__bottom
      flex-direction: column-reverse
  section.contacts
    height auto
    #map
      display none
    .section-title
      padding-top 0
    .contacts-content.content
      width 100%
    .contacts-items
      width 100%
    .contact-item
      border-radius 0
      margin-bottom: 20px 
  .reviews-button
    display none
  .button
    border-radius 0
  .courses-content.content
    width 100%
  .courses-item
    border-radius: 0
    box-shadow: none
  .courses-item__buttons
    .button
      width: 100%
      margin-bottom 20px
      a
        width 100%
        font-size 1.5rem
  .button.transparent
    background: $accentColor
    border: none
    a
      color: #fff
  
  .header .logo
    width: 40%
  .logo-name
    font-size 1.4rem
  .logo-subname
    font-size: 0.7rem
    margin-top: 4px

  .courses-item__title
    h4
      font-size: 2rem
  .courses-type__price,
  .courses-type__name h5
    font-size: 1.5rem


  // PAge course
  ul.breadcrumbs
    flex-wrap: wrap
  
  .coursetop
    .content,
    &-content
      width 100%
    &-video
      height 360px
    .course-top__paragraph,
    .section-title,
    .breadcrumbs
      width: 90.625%
      margin 0 auto
    ul.coursetop-paragraph__list li
      set-font-size(24px)
    &-button
      width 100%
      .button
        width: 100%
        a
          width 100%
  .button a
    font-size: 1.5rem
  .prices-item
    width 100%
    background none
    margin-right: 0
    margin-bottom: 20px
    &:nth-child(2n),
    &:nth-child(2n+1)
      width 100%
      margin 0
      margin-bottom: 20px
  .prices-button
    display: none
  .prices-name
    min-height auto
    order: 1
    div,
    h4:nth-child(3)
      display none
    h4
      set-font-size(40px)
      &::after
        content none
  .prices-quantity
    padding-bottom: 0
    text-align: left
    order : 3
    width 100%
    padding-top 0
    set-font-size(24px)
    color: #171a1a
    position relative
  .prices .price,
  .prices-nmbr
    order: 2
    set-font-size(40px)
    height 46px
    padding-bottom: 0
    color: #171a1a
  .prices-item__content
    width: 100%
    display: flex
    flex-flow: wrap
    padding 0
    justify-content: space-between

  .prices-item.price-item__video
    ul.prices-list,
    .prices-link
      display: none
  section.teacher.allteachers 
    .teacher-button
      background: none
      display none
    .allteachers-items
      width : 100%
      float: none
    .allteachers-images
      width 100%
      position: static
  .portfolio-advantages li
    min-height: 30px
  .portfolio-content.content
    width: 90.625%
    .section-title,
    .portfolio-advantages
      width: 85.46875%
      margin 0 auto
  .programme-item__left,
  .programme-item__right
    width 100%
    margin-right: 0
  .programme-item__content
    flex-wrap: wrap
  
  .programme-item__theory li,
  .programme-practice__title
    set-font-size(24px)
  .programme-item__theory 
    padding-top: 40px
    li
      line-height 1

  .process-content.content
    width: 100%
  .process 
    padding-bottom: 70px
    .process-tabs 
      display flex
      flex-direction: column
      background: #ffffff
      & > li
        padding: 15px 5px 0px 5px
        text-align: left
        text-decoration: dashed
        width: 90.625%
        margin 0 auto
        font-size: 2.5rem
        border-bottom: 1px dashed $accentColor
        &.active
          border: none
  .process-item__left,
  .process-item__right
    width: 100%
  .process-item__right p
    font-size: 1.4rem
  .process-item__wrapper
    flex-wrap: wrap

  form
    width: 90.625%
    .form-price
      width 80%
    .form-group
      margin-bottom 20px
      flex-wrap: wrap
    .form-group__left,
    .form-group__right
      width: 100%
    .form-group__right
      input,
      textarea
        width: calc(100% - 20px)
      select
        width: 100%
    .form-group__left
      margin-top 5px
      margin-bottom 10px
    .form-buttons
      flex-wrap: wrap
      .button
        width 100%
        margin-bottom 20px

  .links-content.content
    width: 100%
    .section-title
      width: 90.625%
      margin: 0 auto
    .links-item__left
      width: 100%
      padding-right: 0
      .button
        width: 100%
        a
          width: 100%
    .links-item__right
      width: 90.625%
      margin: 0 auto
      p
        set-font-size(24px)
        line-height 1
    .links-item
      flex-wrap: wrap

  .questions-content.content
    width: 100%
    .section-title,
    .question-breadcrumbs
      width: 90.625%
      margin: 0 auto
    .contact-item
      border-radius: 0
      margin-bottom: 25px
  .question-items
    width: 100%
@media only screen and (max-width : 480px)
  html
    font-size: 12px
  h3
    set-font-size(30px)
  h5,
  p,
  .courses-type__price
    set-font-size(20px)
  
  .section-title h2
    set-font-size(48px)
  .about-information__left
    padding-bottom 20px
  section.teacher 
    .teacher-name
        set-font-size(28px)
    .teacher-button
      height 310px
      background-size contain
  .clients-item
    height 200px
  section.reviews
    padding-bottom: 0
  .reviews-item__name
    set-font-size(32px)
  .reviews-item__course
    set-font-size(28px)
  .reviews-item p
    set-font-size(19px)
  footer.footer 
    .footer-item a
      font-size: 1rem
    .footer-item__name
      font-size: 1.2rem

  // COurse page
  .portfolio-advantages li
    font-size: 1.1rem
  section.teacher.allteachers .teachers-names li
    font-size: 1rem
    white-space: nowrap
  .programme-item__left img,
  .programme-item__left 
    height: auto
  .prices .price, 
  .prices-nmbr,
  .prices-name h4
    font-size: 1.8rem
  .coursetop-video
    height 380px
