include ../title/title
include ../button/button
include ../breadcrumbs/breadcrumbs
mixin coursetop(data)
  section.coursetop
    .content
      +breadcrumbs()
    .coursetop-content
      +title('Курс Autocad 2d-Профессионал')
      .course-top__paragraph
        p Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством.Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством.
      .coursetop-video
        .fotorama
          a(href='https://youtu.be/vjEueBT-fAU')
      .coursetop-button
        +button('Записаться на обучение')
      .course-top__paragraph
        p AutoCAD от компании Autodesk — популярная программа автоматизации проектирования и черчения в машиностроении, архитектуре, электротехнической промышленности и других сферах. 
        p Большинство осваивало AutoCAD без учителей — по книгам и статьям в интернете, но в работе со сложной системой самообразования недостаточно. 
        p Даже в крупных институтах встречаются примитивные ошибки:  
          ul.coursetop-paragraph__list
            li Таблицы создают линиями и текстовыми блоками, а не специальным инструментом;
            li Вместо вкладки «Лист» рамки чертят линиями в рабочем поле;
            li Объекты не группируют по слоям, не задают свойства и понятные названия.
        p Чертежи дилетантов сложно читать и редактировать — они созданы и оформлены без системных знаний о возможностях системы. Освойте программу с нуля или дополните и систематизируйте знания с курсом «Autodesk AutoCAD 2D-профессионал». 
        p На занятиях научим  
          ul.coursetop-paragraph__list
            li Создавать и редактировать чертежи примитивами; 
            li Указывать размеры и выноски, выполнять штриховку;
            li Создавать и редактировать динамические блоки;  
            li Вставлять текст и таблицы, оформлять и печатать любые документы.