section.reviews
  padding-top: 50px
  padding-bottom: 60px
.reviews-item
  display flex
  align-items: center
  background: #fff
  border-radius: 10px
  padding: 30px 0
  margin-bottom: 40px
  color: #434a54
  &__stars
    text-align: center
    svg
      fill: #e9bf17
  &__left
    width 23.03473492%
    margin-right 2.83363803%
  &__right
    width: 70.84095064%
  &__photo
    width 190px
    height 190px
    border-radius: 50%
    overflow hidden
    margin 0 auto
    margin-bottom 15px
    img
      width 100%
      height 190px
      object-fit: cover
  &__name
    set-font-size(25px)
    font-family $PTBold
  &__link
    margin-bottom 35px
    a
      font-family: $RobotoMedium
  &__course
    font-family: $PTBold
    set-font-size(20px)
  p,
  a
    color: #434a54
  p
    margin 0
  .reviews-item__link a
    color: $accentColor
.reviews-button
  text-align: center