include ../title/title
mixin interaction(data)
  section.interaction
    .interaction-content.content
      +title('Порядок взаимодействия')
      .interaction-wrapper
        ul.process-tabs
          li.process-tab.active Для физических лиц
          li.process-tab Для юридических лиц
      
        .process-items
          //- Process Item
          .process-item.active
            .interaction-item__wrapper
              //- Interaction Step
              .interaction-step
                .interaction-step__name 1. Заявка на обучение
                .interaction-step__paragraph
                  p После того, как вы оставили заявку на обучение - мы с вами связываемся и оговариваем детали: время, место обучения, структуру курса.

              //- Interaction Step
              .interaction-step
                .interaction-step__name 2. Договор
                .interaction-step__paragraph 
                  p Для составления договора нам необходимы следующие данные. 
                ul.interaction-step__list
                  li ФИО    
                  li Дата и место рождения   
                  li Паспорт: серия, номер, кем и когда выдан, код подразделения    
                  li Адрес места регистрации  
                  li Телефон 
                  li E-mail 
                .form-download
                  .form-download__format PDF
                  .form-download__link
                    a(href='#') Скачать 
                    | пример договора для предварительного ознакомления
              
              //- Interaction Step
              .interaction-step
                .interaction-step__name 3. Оплата
                .interaction-step__paragraph
                  p Мы составляем договор и высылаем Вам на электронную почту. Вместе с договором будет выслана ссылка на онлайн оплату через банк Тинькофф (без комиссии), либо вы можете оплатить в любом банке по реквизитам, указанным в договоре. После оплаты Вы высылаете подписанную копию договора по электронной почте; если обучение очное — приносите на первое занятие.
              
              //- Interaction Step
              .interaction-step
                .interaction-step__name 4. Обучение
                .interaction-step__paragraph
                  p Обучение проходит согласно условиям договора. На последнем занятии — подписывается акт об оказании услуг и вы получаете сертификат.


          //- Process Item
          .process-item
            .interaction-item__wrapper
              //- Interaction Step
              .interaction-step
                .interaction-step__name 5. Заявка на обучение
                .interaction-step__paragraph
                  p После того, как вы оставили заявку на обучение - мы с вами связываемся и оговариваем детали: время, место обучения, структуру курса.
                  p После того, как вы оставили заявку на обучение - мы с вами связываемся и оговариваем детали: время, место обучения, структуру курса.

              //- Interaction Step
              .interaction-step
                .interaction-step__name 2. Договор
                .interaction-step__paragraph 
                  p Для составления договора нам необходимы следующие данные. 
                ul.interaction-step__list
                  li ФИО    
                  li Дата и место рождения   
                  li Паспорт: серия, номер, кем и когда выдан, код подразделения    
                  li Адрес места регистрации  
                  li Телефон 
                  li E-mail 
                .form-download
                  .form-download__format PDF
                  .form-download__link
                    a(href='#') Скачать 
                    | пример договора для предварительного ознакомления
              
              //- Interaction Step
              .interaction-step
                .interaction-step__name 3. Оплата
                .interaction-step__paragraph
                  p Мы составляем договор и высылаем Вам на электронную почту. Вместе с договором будет выслана ссылка на онлайн оплату через банк Тинькофф (без комиссии), либо вы можете оплатить в любом банке по реквизитам, указанным в договоре. После оплаты Вы высылаете подписанную копию договора по электронной почте; если обучение очное — приносите на первое занятие.
              
              //- Interaction Step
              .interaction-step
                .interaction-step__name 4. Обучение
                .interaction-step__paragraph
                  p Обучение проходит согласно условиям договора. На последнем занятии — подписывается акт об оказании услуг и вы получаете сертификат.