.interaction
  background #2c2f38
  background -moz-linear-gradient(left, #2c2f38 0%, #34404e 70%, #34404e 100%)
  background -webkit-linear-gradient(left, #2c2f38 0%,#34404e 70%,#34404e 100%)
  background linear-gradient(to right, #2c2f38 0%,#34404e 70%,#34404e 100%)
  .process-tabs
    display: table
    table-layout: fixed
    width: 100%
    -webkit-transform: translateY(5px)
    transform: translateY(5px)
    margin-bottom: 0
    >li
      transition-duration: .25s
      display: table-cell
      list-style: none
      set-font-size(25px)
      color: $accentColor
      text-align: center
      padding: 20px 20px 25px 20px
      position: relative
      overflow: hidden
      cursor: pointer
      font-family $PTBold
      &:before
        z-index: -1
        position: absolute
        content: ""
        width: 100%
        height: 120%
        top: 0
        left: 0
        background-color: rgba(255, 255, 255, .3)
        -webkit-transform: translateY(100%)
        transform: translateY(100%)
        transition-duration: .25s
        border-radius: 5px 5px 0 0
      
		
      &:hover
        &:before
          -webkit-transform: translateY(70%)
          transform: translateY(70%)
        
		
		
      &.active
        color: rgb(80, 85, 90)
        
        &:before
          transition-duration: .5s
          background-color: white
          -webkit-transform: translateY(0)
          transform: translateY(0)