include ../title/title
mixin interaction(data)
  section.interaction
    .interaction-content.content
      +title('Порядок взаимодействия')
      .interaction-wrapper
        ul.process-tabs
          li.process-tab.active Для физических лиц
          li.process-tab Для юридических лиц
      
        .process-items
          //- Process Item
          .process-item.active
            .process-item__wrapper
              .process-item__left
                img(src='static/img/assets/process/skype.jpg')
              .process-item__right
                p До1 занятий преподаватель изучает профиль компании, чтобы скорректировать под ее специфику стандартную программу обучения или создать индивидуальную. На первом занятии учащимся выдается краткий печатный конспект курса. 
                p Преподаватель объясняет теорию и демонстрирует работу на проекторе. Дает практические задания для самостоятельной работы и следит за выполнением, помогая и отвечая на вопросы. В конце занятия дается домашнее задание.
                p  Рекомендуемая длительность занятия — 4 академических часа с перерывом в 15 минут. Для сохранения качества обучения рекомендуем формировать группы до 10 человек.
          //- Process Item
          .process-item
            .process-item__wrapper
              .process-item__left
                img(src='static/img/assets/process/skype.jpg')
              .process-item__right
                p До2 занятий преподаватель изучает профиль компании, чтобы скорректировать под ее специфику стандартную программу обучения или создать индивидуальную. На первом занятии учащимся выдается краткий печатный конспект курса. 
                p Преподаватель объясняет теорию и демонстрирует работу на проекторе. Дает практические задания для самостоятельной работы и следит за выполнением, помогая и отвечая на вопросы. В конце занятия дается домашнее задание.
                p  Рекомендуемая длительность занятия — 4 академических часа с перерывом в 15 минут. Для сохранения качества обучения рекомендуем формировать группы до 10 человек.