.header
  background #0e1012
  height 89px
  position relative
  .logo
    width 20.8791208%
  &-content
    height 89px
    display flex
    justify-content: space-between
    align-items: center
  &-contacts
    text-align right
    margin-top 23px
.phone
  display flex
  align-items: flex-start
  white-space: nowrap
  &-icon
    margin-right 8px
  svg
    fill #fff
  a
    text-decoration none
  &-number
    set-font-size(14px)
    font-family $PTBold
    text-transform uppercase
.city
  font-family $Roboto
  set-font-size(11px)
  position relative
  top -5px 
.burger-menu
  cursor pointer
  display: none
  div
    width 50px
    height 4px
    background #ffffff
    margin: 6px 0;