.button
  background-color: $accentColor
  display inline-block
  border-radius: 5px
  transition all 0.4s ease
  a
    text-transform uppercase
    color: #ffffff
    font-family: $RobotoMedium
    height 50px
    padding-bottom 4px
    width 312px
    display: flex
    justify-content: center
    align-items: center
  &:hover
    background-color: $accentColor;
  &.transparent
    background: transparent
    border: 1px solid $accentColor
    a
      color: $accentColor
    