.notfound
  background #ffffff
  padding-top 125px
  padding-bottom 100px
  &-number
    text-align center
    color: $accentColor
    set-font-size(125px)
    font-family $PTBold
  &-title
    set-font-size(60px)
    color: #0e1012
    margin-top 75px
    text-align center
    font-family $RobotoMedium
    margin-bottom 75px
  &-buttons
    display flex
    justify-content: space-between