.prices
  padding-bottom 60px 
  &-items
    display flex
    justify-content: center
    flex-wrap: wrap
    &::after
      content ''
      clear both
      display block
  &-description 
    box-shadow: 0 1px 4px rgba(0,0,0,0.6)
    border-radius: 10px
    padding: 0 15px
    padding: 5px 15px
    position: absolute
    z-index: -1
    visibility hidden
    right: 0
    background: #fff
    right: 0
    top: 80px
    opacity: 0
    transition all .75s ease
      
  &-item
    float left
    width: 30%
    margin-right 5%
    border-radius: 10px
    margin-bottom 40px
    cursor pointer
    background #ffffff
    transition all 0.2s ease
    &:nth-child(3)
      margin-right 0
    &:hover
      box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25)
    &__content
      width 81.34920635%
      margin 0 auto
      padding-top 35px
      padding-bottom 20px
      height 100%
      position relative
    &:last-child
      margin-right 0
    &.price-item__video
      .prices-name
        min-height: 40px
      .prices-quantity
        padding-bottom: 30px
  &-link
    text-align center
    a
      text-transform uppercase
      set-font-size(12px)
      color: $accentColor
  &-name 
    text-align: center
    min-height: 85px
    color: #2d323c
    set-font-size(25px)
    line-height 1
    h4
      font-family $PTBold
      color $accentColor
      display inline-block
      position relative
      &::after
        content '?'
        set-font-size(15px)
        width 24px
        height 24px
        border-radius: 50%
        color: $titleColor
        border: 1px solid $titleColor
        border-radius: 50%
        display flex
        justify-content: center
        align-items: center
        opacity 0.65
        position absolute
        right -30px
        top: 0
        cursor pointer
        transition all 0.3s ease 
      &:hover::after
        color: $accentColor
        border: 1px solid $accentColor
        opacity 1
    &:hover
      .prices-description 
        opacity: 1
        z-index 33
        visibility: visible
  &-quantity
    color: #171a1a
    text-align: center
    padding-bottom 60px
    padding-top 10px
  &-list
    margin 0
    padding-left: 20px
    set-font-size(12px)
    list-style-type: disc
    li
      color #5b6165
      line-height 1.4
  &-button
    height 55px
  .price
    set-font-size(25px)
    text-align center
    color: #171a1a
    padding-bottom 30px
    &.rmw
      text-decoration: line-through
      padding-bottom 0
    &.new
      color #eb193b
      padding-bottom 30px
  .button
    width 100%
    position absolute
    bottom: 80px
    a
      width 100%
