.center
  background #2c2f38
  background -moz-linear-gradient(left, #2c2f38 0%, #34404e 70%, #34404e 100%)
  background -webkit-linear-gradient(left, #2c2f38 0%,#34404e 70%,#34404e 100%)
  background linear-gradient(to right, #2c2f38 0%,#34404e 70%,#34404e 100%)
  padding-top 40px
  .section-title 
    padding-top 40px
    h2
      color: #fff
  &-video
    width 88.29981718%
    margin: 0 auto
    height 510px
    background #000000
    position relative
    .fotorama__stage,
    .fotorama__wrap,
    .fotorama
      width: 100% !important
      height: 100% !important
    .fotorama__img
      display: none !important
    .fotorama__video-play
      background url('../img/assets/coursetop/fotorama.png') no-repeat center
      &:hover
        transform: scale(1.3)
  .about-information
    background none
    &__content
      width 100%
