include ../title/title
include ../button/button
mixin courses(data)
  section.courses
    .courses-content.content
      +title('Наши курсы')
      .courses-list
        //- Courses Itme
        .courses-item
          .courses-item__left
            .courses-item__image
              img(src='static/img/assets/courses/autocad.png')
          .courses-item__right
            .courses-item__title
              h4 Курс Autodesk AutoCAD. 2D-профессионал
            .courses-item__text
              p Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством. Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством.
            .courses-item__types
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 Индивидуально
                .courses-type__price 17 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 По Skype
                .courses-type__price 17 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 Видеокурс
                .courses-type__price.rmv 17 990 
                  span &#8381;
                .courses-type__price.new 15 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 В группе
                .courses-type__price 15 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 Корпоративно
                .courses-type__price 17 990 
                  span &#8381;
              

            .courses-item__buttons
              +button('Записаться')
              +button('Подробнее').transparent

        //- Courses Itme
        .courses-item
          .courses-item__left
            .courses-item__image
              img(src='static/img/assets/courses/inventor.png')
          .courses-item__right
            .courses-item__title
              h4 Базовый курс Autodesk Inventor
            .courses-item__text
              p Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством. Полное руководство по самому популярному САПР AutoCAD: навыки быстрой работы с высоким качеством.
            .courses-item__types
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 Индивидуально
                .courses-type__price 17 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 По Skype
                .courses-type__price 17 990 
                  span &#8381;
              //- Courses Type
              .courses-type
                .courses-type__name 
                  h5 Корпоративно
                .courses-type__price 17 990 
                  span &#8381;
              

            .courses-item__buttons
              +button('Записаться')
              +button('Подробнее').transparent