section.courses
  padding-bottom: 60px
.courses-item
  background: #ffffff
  border-radius 10px
  display: flex
  align-items: center
  margin-bottom: 40px
  padding-bottom: 30px
  cursor pointer
  transition all 0.1s ease
  &:hover
    box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.1)
  &__left
    width: 31.53564899%
  &__right
    width: 68.55575868%
    padding-top: 30px
    padding-right: 6.6666667%
  &__image
    text-align: center
  &__text
    padding-bottom 20px
    p
      letter-spacing: -0.5px
      line-height: 15px
  &__types
    display flex
    padding-bottom 30px
    justify-content: flex-start
  &__buttons
    display flex
    justify-content: space-between
.courses-type
  height: 76px
  display flex
  flex-direction: column
  justify-content: space-between
  flex: auto
  &__price
    font-family: $Roboto
    set-font-size(20px)
    font-weight bold
    color: #434a54
    &.rmv
      text-decoration: line-through
    &.new
      color: #e6193b

  