include ../title/title
include ../button/button
mixin forms(data)
  section.forms
    .forms-content.content
      +title('Формы обучения')
      .forms-items
        
        //- Forms Item
        .forms-item
          .forms-item__title Индивидуальное обучение
          .forms-item__content
            .forms-item__left
              img(src='static/img/assets/forms/forms.jpg')
            .forms-item__right
              ul
                li Преподаватель работает только с вами;
                li Минимум времени от заявки до первого урока;
                li Индивидуальный выбор времени и места;
                li Возможно обучение на ваших примерах;
                li Печатный конспект;
        
        //- Forms Item
        .forms-item
          .forms-item__title Индивидуальное обучение
          .forms-item__content
            .forms-item__left
              img(src='static/img/assets/forms/forms.jpg')
            .forms-item__right
              ul
                li Преподаватель работает только с вами;
                li Минимум времени от заявки до первого урока;
                li Индивидуальный выбор времени и места;
                li Возможно обучение на ваших примерах;
                li Печатный конспект;
              .form-item__button
                +button('Подробнее')
