section.forms
  padding-top: 50px
  .section-title
    padding-bottom 20px
  .forms-item
    background #ffffff
    border-radius: 10px
    padding-top 35px
    padding-left 5.94149909%
    padding-right 5.94149909%
    padding-bottom 35px
    margin-bottom 50px
    &__title
      color: #0e1012
      set-font-size(25px)
      font-family $PTBold
      text-align: center
      padding-bottom 35px
    &__content
      display flex
      justify-content: space-between
    &__left
      width 48.54771784%
      margin-right 3.1120332%
      img
        width 100%
    &__right
      width 48.54771784%
      display flex
      flex-direction: column
      justify-content: space-between

    li
      set-font-size(18px)
      color: #434a54
    ul
      margin-top 0
      padding-left 20px
      list-style-type disc

    