mixin breadcrumbs(data)
  ul.breadcrumbs
    li.breadcrumbs-item
      a(href="#") Главная
    li.breadcrumbs-item
      a(href="#") Курсы
    li.breadcrumbs-item
      a(href="#") Курсы AutoCAD
    li.breadcrumbs-item.active
      a(href="#") Курс Autodesk AutoCAD 2D-профессионал