include ../title/title
include ../breadcrumbs/breadcrumbs
mixin questions(data)
  section.questions
    .questions-content.content
      +title('Остались вопросы?')
      .question-items
        .contact-item
          a(href='tel:+7 921 975-72-57')
            .contact-item__content
              .contact-item__icon
                != jadeHelpers.Icon.call(locals, {iconName: 'phone', className: 'phone', iconWidth: '50', iconHeight: '50'})
              .contact-item__text +7 921 975-72-57 
       
        //- Contact Item
        .contact-item
          a(href='#')
            .contact-item__content
              .contact-item__icon
                != jadeHelpers.Icon.call(locals, {iconName: 'chat', className: 'chat', iconWidth: '50', iconHeight: '50'})
              .contact-item__text Написать сообщение
        
        //- Contact Item
        .contact-item
          a(href='mailto:hi@cadinstructor.org')
            .contact-item__content
              .contact-item__icon
                != jadeHelpers.Icon.call(locals, {iconName: 'mail', className: 'mail', iconWidth: '50', iconHeight: '50'})
              .contact-item__text
                a(href='mailto:hi@cadinstructor.org') hi@cadinstructor.org
      .question-breadcrumbs
        +breadcrumbs().black